<template>
  <div
    class="bg-overlay w-full h-full fixed inset-0 pt-16 bg-gray-800 bg-opacity-50"
  >
    <div
      class="relative w-full h-full bg-gray-100 flex-col items-center-justify-start rounded-t-lg overflow-x-hidden"
    >
      <div class="w-full bg-gray-200 h-12 flex-center relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          @click="toggleForm"
          class="absolute w-8 right-0 mr-4 top-0 mt-2 cursor-pointer fill-current p-1 text-gray-900 rounded-full hover:bg-gray-500"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <h4 class="font-semibold text-lg" v-if="this.mode === 'Create'">
          ایجاد بورد
        </h4>
        <h4 class="font-semibold text-lg" v-else>ویرایش بورد</h4>
      </div>
      <div class="w-full flex-col">
        <div
          class="flex justify-start items-center bg-white w-full h-20 py-4 px-6 border-b-2 border-gray-300 border-opacity-75"
        >
          <label for="name" class="font-medium text-lg w-1/6 whitespace-no-wrap"
            >نام بورد:</label
          >
          <input
            class="px-3 border-none bg-transparent text-lg text-gray-700 focus:outline-none"
            type="text"
            id="name"
            v-model="name"
            placeholder="بورد"
          />
          <span
            class="error text-red-700 text-sm border-r-4 border-red-700 pr-2 tracking-normal"
            >{{ nameErr }}</span
          >
        </div>
        <div
          class="flex justify-between items-center bg-white w-full h-20 py-4 px-6 border-b-4 border-gray-300 border-opacity-75"
        >
          <div
            class="w-1/3 flex justify-between items-center whitespace-no-wrap"
          >
            <label for="color" class="font-medium text-lg w-1/5">رنگ:</label>
            <DropDown
              :colors="colors"
              @selectColor="selectColor"
              :selected="selectedColor"
            />
          </div>
          <div class="flex justify-between items-center">
            <label for="color" class="font-medium text-lg w-1/5">دسته:</label>
            <DropDown
              :icons="icons"
              @selectIcon="selectIcon"
              :selected="selectedIcon"
            />
          </div>
        </div>
        <div
          class="flex justify-center items-end bg-white w-full h-20 py-4 px-6"
          v-if="mode === 'Create'"
        >
          <label for="members">اعضا:</label>
          <AddMembers class="mr-4" @addMember="addMember" :members="members" />
        </div>
        <div
          class="flex flex-wrap h-32 members-area overflow-x-hidden overflow-y-scroll justify-start items-center bg-white w-full py-4 px-6"
          v-if="mode === 'Create'"
        >
          <span
            class="flex items-center justify-around border-2 rounded-lg border-primary-100 py-2 px-3 ml-3 mb-2"
            v-for="(member, index) in members"
            :key="member._id"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              @click="removeMember(index)"
              class="w-6 ml-2 cursor-pointer fill-current p-1 text-gray-900 rounded-full hover:bg-gray-500"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
            {{ member.username }}
            <div
              class="rounded-full mr-2 flex-center w-10 h-10 overflow-hidden bg-white border-2 border-gray-100 border-opacity-75"
            >
              <img
                :src="
                  member.pic.length
                    ? member.pic
                    : '/profile/profile-' +
                      (member.sex ? 'man' : 'woman') +
                      '.png'
                "
                class="w-full h-full object-cover"
                alt="avatar"
              />
            </div>
          </span>
        </div>
        <div class="mt-3 flex pb-4 w-full justify-center items-center">
          <button
            class="btn-primary-out w-48"
            @click="createEditBoard"
            :disabled="loading"
          >
            <div v-if="loading" class="lds-dual-ring-samll"></div>
            <p class="font-semibold text-lg" v-else-if="this.mode === 'Create'">
              ایجاد برد
            </p>
            <p class="font-semibold text-lg" v-else-if="this.mode === 'Edit'">
              ویرایش برد
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import DropDown from "./DropDown.vue";
import AddMembers from "../AddMembers.vue";
import { post, get, put } from "@/utils/helpers";
import { activeBoard } from "@/store/board";

@Options({
  props: {
    mode: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: false,
    },
  },
  components: {
    DropDown,
    AddMembers,
  },
  data() {
    return {
      name: "",
      colors: [
        "primary-100",
        "green-500",
        "orange-500",
        "red-600",
        "yellow-400",
        "gray-500",
        "teal-400",
        "purple-700",
        "pink-500",
      ],
      selectedColor: 0 as number,
      icons: [
        "api",
        "database",
        "game",
        "idea",
        "illustrator",
        "instruction",
        "movie",
        "photoshop",
        "programming",
      ],
      selectedIcon: 0 as number,
      members: [] as any,
      loading: false,
      nameErr: "",
    };
  },
  async created() {
    if (this.mode === "Edit") {
      const colorIndex = this.colors.findIndex(
        (color: string) => color === activeBoard.value.color
      );
      const iconIndex = this.icons.findIndex(
        (icon: string) => icon === activeBoard.value.icon
      );

      this.name = activeBoard.value.name;
      this.selectedColor = colorIndex;
      this.selectedIcon = iconIndex;
    }
  },
  methods: {
    toggleForm() {
      this.nameErr = "";
      this.$emit("closeForm");
    },
    selectColor(index: number) {
      this.selectedColor = index;
    },
    selectIcon(index: number) {
      this.selectedIcon = index;
    },
    addMember(member: any) {
      this.members.push(member);
      console.log("member added " + member.username);
    },
    removeMember(index: number) {
      this.members.splice(index, 1);
    },
    async createEditBoard() {
      console.log("creating or editting board");
      this.loading = true;
      this.nameErr = "";

      let board = {
        name: this.name,
        color: this.colors[this.selectedColor],
        icon: this.icons[this.selectedIcon],
        members: this.members,
      } as any;

      let TheBoard;

      if (this.mode === "Edit") {
        board.id = this.id;
        delete board.members;
        TheBoard = await put("/board", board);
      } else TheBoard = await post("/board", board);

      this.loading = false;

      if (TheBoard.success) {
        if (this.mode === "Edit") {
          this.$emit("boardEditted", board);
          this.showNotif(`بورد ${this.name} با موفقیت ویرایش شد.`, "success");
        } else {
          this.$emit("newBoard", TheBoard.board);
          this.showNotif(`بورد ${this.name} با موفقیت ایجاد شد.`, "success");
        }
      } else {
        this.handleError(TheBoard);
      }
      this.selectedIcon = 0;
      this.selectedColor = 0;
      this.members = [];
      this.name = "";
    },
    handleError(error: any) {
      if (error.invalid) {
        if (error.invalid.includes("name")) {
          this.nameErr =
            "نام بورد باید حداقل 3 کاراکتر و شامل اعداد یا حروف باشد.";

          this.showNotif(this.nameErr, "warning");
        }
      } else {
        this.showNotif(
          "خطای نامشخص اتفاق افتاد. لطفا بعدا دوباره تلاش کنید.",
          "error"
        );
      }
    },
    showNotif(text: string, kind: string) {
      this.emitter.emit("showNotification", {
        text,
        kind,
      });
    },
  },
})
export default class BoardForm extends Vue {}
</script>

<style lang="scss">
.members-area {
  &::-webkit-scrollbar {
    width: 0.45rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #1059bc;
  }
}

.bg-overlay {
  padding: 0 15px;
}

@media (min-width: 640px) {
  .bg-overlay {
    padding-left: 100px !important;
    padding-right: 20px !important;
  }
}
@media (max-width: 640px) {
  .bg-overlay {
    padding-bottom: 56px !important;
  }
}
</style>
