<template>
  <div class="relative">
    <button
      @click="toggleOptions"
      class="block h-8 w-8 rounded-lg overflow-hidden focus:outline-none focus:shadow-outline"
      @blur="blured"
    >
      <img
        class="w-12"
        :src="'/boardIcons/' + icons[selected] + '_dark.png'"
        alt=""
        v-if="icons?.length"
      />
      <div class="h-full w-full" :class="'bg-' + colors[selected]" v-else></div>
    </button>
    <div
      class="absolute z-20 options-dropdown h-32 w-40 overflow-y-scroll overflow-x-hidden top-0 left-0 mt-10 py-2 border-2 border-opacity-50 border-gray-400 bg-white rounded-lg shadow-xl"
      v-if="icons?.length && showOptions"
    >
      <div
        @click="selectOption(index)"
        v-for="(icon, index) in icons"
        :key="icon"
        class="flex justify-between w-full items-center px-1 py-3 hover:bg-gray-200"
      >
        <img class="w-8" :src="'/boardIcons/' + icon + '_dark.png'" />
        <span
          class="flex w-full font-sans justify-start ml-2 font-medium text-sm text-gray-900"
          >{{ icon }}</span
        >
      </div>
    </div>
    <div
      class="absolute z-20 options-dropdown h-32 w-20 overflow-y-scroll overflow-x-hidden top-0 mt-10 left-0 py-2 border-2 border-opacity-50 border-gray-400 bg-white rounded-lg shadow-xl"
      v-else-if="showOptions"
    >
      <div
        @click="selectOption(index)"
        v-for="(color, index) in colors"
        :key="color"
        class="block px-4 py-2 hover:bg-gray-200"
      >
        <div class="w-8 h-8 rounded-lg" :class="'bg-' + color" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    colors: {
      type: Array,
      required: false,
    },
    icons: {
      type: Array,
      required: false,
    },
    selected: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      showOptions: false,
    };
  },
  methods: {
    toggleOptions() {
      this.showOptions = !this.showOptions;
    },
    selectOption(index: number) {
      if (this?.colors?.length) {
        this.$emit("selectColor", index);
        this.showOptions = false;
      } else {
        this.$emit("selectIcon", index);
        this.showOptions = false;
      }
    },
    blured() {
      setTimeout(() => {
        this.showOptions = false;
      }, 100);
    },
  },
});
</script>

<style lang="scss">
.options-dropdown {
  direction: ltr !important;
  &::-webkit-scrollbar {
    width: 0.45rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #1059bc;
  }
}
</style>
