<template>
  <div class="relative">
    <input
      v-model="person"
      type="text"
      class="w-48 md:w-56 border-b-2 px-3 py-1 border-gray-600 border-opacity-50 rounded-sm text-lg"
      @focus="findMembers()"
      @input="findMembers()"
      @blur="blured"
    />
    <div
      v-if="showMembers"
      class="absolute members-dropdown z-10 w-64 overflow-y-scroll overflow-x-hidden top-0 left-0 mt-10 py-2 border-2 border-opacity-50 border-gray-400 bg-white rounded-lg shadow-xl"
      style="max-height: 7rem"
    >
      <div v-if="loading" class="lds-dual-ring mt-6 w-full"></div>
      <div class="w-full" v-else-if="foundMembers.length">
        <div
          @click="addMember(index)"
          v-for="(member, index) in foundMembers"
          :key="member._id"
          class="flex items-center w-full px-5 py-3 rounded mb-1 cursor-pointer"
          :class="
            isAlreadyMember(member._id)
              ? 'bg-primary-100 text-white hover:bg-primary-300'
              : ' text-gray-800  hover:bg-gray-200'
          "
        >
          <div
            class="rounded-full flex-center w-10 h-10 mr-2 overflow-hidden bg-white border-2 border-gray-100 border-opacity-75"
          >
            <img
              :src="
                member.pic.length
                  ? member.pic
                  : '/profile/profile-' +
                    (member.sex ? 'man' : 'woman') +
                    '.png'
              "
              class="w-full h-full object-cover"
              alt="avatar"
            />
          </div>
          <p class="text-md font-semibold tracking-wide">
            {{ member.username }}
          </p>
        </div>
      </div>
      <div v-else class="w-full h-full flex-center">
        <h6>کاربری پیدا نشد</h6>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { activeBoard } from "@/store/board";
import { user } from "@/store/user";

export default defineComponent({
  props: {
    members: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      person: "",
      foundMembers: [] as any,
      allMembers: activeBoard.value.members,
      showMembers: false,
      loading: false,
    };
  },
  methods: {
    addMember(index: number) {
      const member = this.foundMembers[index];

      if (!this.isAlreadyMember(member._id)) {
        this.$emit("addMember", member);
        this.person = "";
        this.showMembers = false;
      }
    },
    async findMembers() {
      this.loading = true;
      this.showMembers = true;

      const users = this.allMembers.filter((member: any) => {
        if (member._id === user.value.id) return false;
        return member.username.search(this.person) !== -1 ? true : false;
      });
      this.foundMembers = users;
      this.loading = false;
    },
    isAlreadyMember(id: string) {
      const member = this.members.findIndex(
        (member: any) => member?._id === id
      );
      if (member === -1) return false;
      return true;
    },
    blured() {
      setTimeout(() => {
        this.showMembers = false;
      }, 100);
    },
  },
});
</script>

<style lang="scss">
.members-dropdown {
  direction: ltr !important;
  &::-webkit-scrollbar {
    width: 0.45rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #1059bc;
  }
}
</style>
