<template>
  <div
    class="w-32 bg-white shadow-lg z-10 flex-col justify-between items-start text-gray-900 absolute rigth-0 top-0 mt-10 rounded-xl py-3"
  >
    <div
      @click="edit()"
      class="flex-center cursor-pointer w-full font-semibold text-base px-2 py-1 hover:bg-primary-100 hover:text-white transition-all duration-200"
    >
      ویرایش کارت
    </div>
    <div
      @click="deleteCard()"
      v-if="isAllowed"
      class="flex-center cursor-pointer font-semibold text-base px-2 py-1 hover:bg-primary-100 hover:text-white transition-all duration-200"
    >
      حذف کارت
    </div>
    <div
      @click="manageUsers()"
      v-if="isAllowed"
      class="flex-center cursor-pointer font-semibold text-base px-2 py-1 hover:bg-primary-100 hover:text-white transition-all duration-200"
    >
      مدیریت اعضا
    </div>
  </div>
</template>

<script>
import { activeCard } from "@/store/card";
import { user } from "@/store/user";
import { activeList } from "@/store/list";
import { activeBoard } from "@/store/board";
export default {
  props: {},
  data() {
    return {};
  },
  computed: {
    isAllowed() {
      const userId = user.value.id;
      if (
        activeCard.value.owner === userId ||
        activeList.value.owner === userId ||
        activeBoard.value.owner === userId ||
        user.value.admin
      )
        return true;
      return false;
    },
  },
  methods: {
    edit() {
      this.$emit("editCard");
    },
    deleteCard() {
      this.$emit("deleteCard");
    },
    manageUsers() {
      this.$emit("manageUsers");
    },
  },
};
</script>

<style></style>
