<template>
  <div class="w-full h-full relative pb-12">
    <header
      class="w-full flex justify-center items-center h-32 px-4"
      :class="'bg-' + card.color"
    >
      <div class="w-1/2 flex justify-start items-center">
        <div class="relative">
          <!-- three dots -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="fill-current text-white h-8 cursor-pointer ml-3 focus:outline-none"
            v-if="isAllowedToChange"
            @click="showOptions = !showOptions"
            @blur="blured"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
            />
          </svg>
          <DropDown
            v-if="showOptions"
            @editCard="toggleCardForm"
            @deleteCard="
              confirmDeleteCard = true;
              showOptions = !showOptions;
            "
            @manageUsers="manageUsers"
          />
        </div>
      </div>

      <div class="w-1/2 flex justify-end items-center">
        <div class="flex items-center ml-2">
          <div class="flex-col justify-center items-start h-full ml-2">
            <span class="font-semibold block text-base text-gray-100">{{
              card.name
            }}</span>
            <span
              class="font-medium block text-sm whitespace-no-wrap text-gray-100"
            >
              {{
                board.members.length === 1
                  ? ""
                  : `شما و ${board.members.length - 1} نفر دیگر`
              }}</span
            >
          </div>
        </div>

        <!-- Back Arrow -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="fill-current text-white w-8 h-full cursor-pointer mr-1"
          @click="goBack()"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          />
        </svg>
      </div>
    </header>
    <main>
      <div class="flex-col w-full justify-start items-start px-4 py-2">
        <!-- Tags Section -->
        <div class="w-full flex justify-between items-center my-4">
          <p class="text-lg font-bold text-gray-900" v-if="card.tags.length">
            تگ ها :
          </p>
          <div class="flex-center">
            <span
              class="text-sm font-bold font-sans hover:shadow-lg tracking-wider mx-2 text-gray-100 rounded-lg py-2 px-3"
              :class="'bg-' + tag.color"
              v-for="tag in card.tags"
              :key="tag"
            >
              {{ tag.name }}
            </span>
          </div>
        </div>

        <!-- Attachments Section -->
        <div class="w-full flex justify-between items-start my-6">
          <p class="text-lg font-bold text-gray-900 ml-4">الحاقیات:</p>
          <div
            class="attachments-area scrolling-auto pr-4 max-h-56 flex flex-wrap justify-start items-start overflow-y-auto"
            dir="ltr"
          >
            <!-- All Attachments -->
            <div
              v-for="(attach, index) in card.attachments"
              :key="attach"
              class="relative flex flex-shrink-0 mb-3 overflow-hidden mr-2 rounded-lg w-48 h-48 border-gray-600 border-2 border-opacity-75"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                @click="deleteAttach(index)"
                class="absolute w-8 bg-gray-100 right-0 mr-2 top-0 mt-2 cursor-pointer fill-current p-1 text-gray-900 rounded-full hover:bg-gray-300"
                viewBox="0 0 24 24"
                stroke="currentColor"
                v-if="isAllowedToChange"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
              <img
                :src="attach"
                class="w-full object-cover"
                :alt="card.name + '-attachment'"
              />
            </div>

            <!-- Add attachment Div -->
            <div
              class="flex-center overflow-hidden flex-shrink-0 w-48 h-48 rounded-lg"
              :class="'bg-' + card.color"
              v-if="isAllowedToChange"
            >
              <label
                class="w-full h-full flex-center cursor-pointer bg-gray-900 bg-opacity-0 hover:bg-opacity-25"
                for="attachment"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="w-12 text-gray-100"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </label>
              <input
                type="file"
                class="hidden"
                name="attachment"
                id="attachment"
                @change="uploadAttach"
              />
            </div>
          </div>
        </div>

        <!-- Todos Section -->
        <div
          class="w-full flex-col justify-between items-center my-4"
          v-if="card.todos.length"
        >
          <p class="text-lg font-bold text-gray-900 mb-3">لیست کارها:</p>
          <div
            class="w-full flex justify-between items-center rounded px-2 py-2 text-base mb-3 shadow-inner border-2 border-r-8 hover:shadow font-normal text-gray-800"
            :class="'border-' + (card.checked ? 'primary-100' : 'gray-800')"
            v-for="(todo, index) in card.todos"
            :key="todo.name"
          >
            <div class="flex">
              <p class="text-lg font-medium text-gray-900" v-if="!todo.editing">
                {{ todo.name }}
              </p>
              <input
                class="text-lg w-32 px-2 font-medium text-gray-900 ml-3 border-b-2 border-gray-800"
                :class="'todo-' + index"
                v-if="todo.editing"
                v-model="newTodoName"
                @blur="toggleEditTodo(index)"
                @keyup.enter="editTodo(index)"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                class="w-8 border-2 cursor-pointer border-gray-800 rounded-lg p-1 hover:border-primary-100 hover:text-primary-100"
                @click="editTodo(index)"
                viewBox="0 0 24 24"
                stroke="currentColor"
                v-if="todo.editing"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </div>
            <div class="flex items-center">
              <div class="flex ml-3 sm:ml-6">
                <!-- Edit Icon -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="w-6 hover:text-primary-300 transition-all duration-300 cursor-pointer ml-3"
                  stroke="currentColor"
                  @click="toggleEditTodo(index)"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                  />
                </svg>

                <!-- Trash Icon -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="w-6 hover:text-red-600 transition-all duration-300 cursor-pointer"
                  stroke="currentColor"
                  @click="removeTodo(index)"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                  />
                </svg>
              </div>
              <!-- CheckBox Icon -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                @click="toggleTodo(todo, index)"
                class="w-8 cursor-pointer transition-all duration-300"
                :class="
                  todo.checked
                    ? 'text-primary-100 hover:text-gray-600'
                    : 'text-gray-600 hover:text-primary-100'
                "
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </div>
          </div>
          <div
            v-if="addingTodo && isAllowedToChange"
            class="w-full h-12 cursor-pointer bg-primary-200 shadow-inner flex justify-between items-center rounded-lg px-4 py-4 text-base mb-3 transition-all duration-300 hover:shadow-lg font-normal text-gray-100"
            @keyup.enter="addTodo"
          >
            <input
              type="text"
              class="addTodoInput rounded-lg text-gray-900 text-lg w-48 sm:w-56 focus:outline-none px-2 py-1"
              placeholder="تسک جدید"
              v-model="newTodo"
            />
            <div class="flex items-center">
              <!-- Cehck -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 sm:w-8 p-1 rounded-lg bg-primary-100 text-white hover:bg-primary-300 transition-all duration-300"
                @click="addTodo"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>

              <!-- Cancel -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 sm:w-8 p-1 rounded-lg bg-red-600 text-white hover:bg-red-700 transition-all duration-300 mr-3"
                @click="toggleAddTodo"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </div>
          </div>
          <div
            v-if="!addingTodo && isAllowedToChange"
            @click="toggleAddTodo"
            class="w-full h-12 cursor-pointer bg-primary-100 flex justify-center items-center rounded-lg px-2 py-3 text-base mb-3 transition-all duration-300 hover:shadow-lg font-normal text-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-10 text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6v6m0 0v6m0-6h6m-6 0H6"
              />
            </svg>
          </div>
        </div>
      </div>
    </main>

    <!-- Modals Section -->
    <div
      class="fixed inset-0 bg-gray-800 bg-opacity-50 flex-col flex-center"
      v-if="confirmDeleteCard"
    >
      <div
        class="rounded-lg relative bg-white flex-col justify-between items w-64 py-10 px-6"
      >
        <h6 class="font-semibold text-lg block">
          کارت {{ card.name }} حذف شود؟
        </h6>
        <div class="w-full mt-6 flex justify-around items-center">
          <button class="btn-primary" @click="confirmDeleteCard = false">
            خیر
          </button>
          <button class="btn-primary-out" @click="deleteCard">بله</button>
        </div>
      </div>
    </div>
    <ManageCardUsers
      v-if="allowManageForm"
      :class="{ 'fade-in': showManageMembers, 'fade-out': !showManageMembers }"
      @closeManageMembers="showManageMembers = false"
    />
    <CardForm
      v-if="allowCardForm"
      :class="{ 'fade-in': showCardForm, 'fade-out': !showCardForm }"
      mode="Edit"
      @cardEditted="cardEditted"
      @closeForm="showCardForm = false"
    />
  </div>
</template>

<script>
import { Options, Vue } from "vue-class-component";
import DropDown from "./CardDropDown.vue";
import ManageCardUsers from "./ManageCardUsers.vue";
import CardForm from "./CardForm.vue";
import {
  activeCard,
  emptyActiveCard,
  removeCard,
  editCard,
  toggleTodoCard,
  addTodo,
  editTodoName,
  removeTodo,
  addAttachment,
  removeAttachment,
} from "@/store/card";
import { user } from "@/store/user";
import { activeList } from "@/store/list";
import { activeBoard } from "@/store/board";
import { put, deleteReq, post, uploadPhoto } from "@/utils/helpers";

@Options({
  components: {
    DropDown,
    ManageCardUsers,
    CardForm,
  },
  data() {
    return {
      board: activeBoard.value,
      list: activeList.value,
      allowCardForm: false,
      allowManageForm: false,
      showCardForm: false,
      showOptions: false,
      confirmDeleteCard: false,
      showManageMembers: false,
      newTodoName: "",
      addingTodo: false,
      newTodo: "",
      uploadingPhoto: false,
    };
  },
  created() {
    this.emitter.on("boardRemoved", (data) => {
      if (activeBoard.value.id === data.board_id) {
        this.goBack("Boards");
      }
    });

    this.emitter.on("listRemoved", (data) => {
      if (activeList.value.id === data.list_id) {
        this.goBack();
      }
    });

    this.emitter.on("cardRemoved", (data) => {
      if (activeCard.value.id === data.card_id) {
        this.goBack();
      }
    });
  },
  computed: {
    card() {
      const card = activeCard.value;
      card.todos = card.todos.map((todo) => {
        todo.editing = false;
        return todo;
      });
      return card;
    },
    isAllowedToChange() {
      return (
        user.value.admin ||
        activeBoard.value.owner === user.value.id ||
        activeList.value.owner === user.value.id ||
        activeCard.value.owner === user.value.id
      );
    },
  },
  methods: {
    goBack(to = "Lists") {
      emptyActiveCard();
      this.$emit("changeComponent", to);
    },
    blured() {
      setTimeout(() => {
        this.showOptions = false;
      }, 100);
    },
    toggleCardForm() {
      if (this.showOptions) this.showOptions = false;

      if (!this.allowCardForm) this.allowCardForm = true;

      this.showCardForm = true;
    },
    manageUsers() {
      if (this.showOptions) this.showOptions = false;

      if (!this.allowManageForm) this.allowManageForm = true;

      this.showManageMembers = true;
    },
    async uploadAttach(e) {
      console.log("uploading photo.");
      this.uploadingPhoto = true;

      let photo = new FormData();
      photo.append("photo", e.target.files[0]);

      const header = {
        id: this.card.id,
        board_id: this.board.id,
        list_id: this.list.id,
      };

      let resp = await uploadPhoto("/card/attachments/add", photo, header);

      console.log(resp);

      if (resp?.success) {
        addAttachment(resp.path);
        this.showNotif("عکس مورد نظر با موفقیت به کارت اضافه شد.", "success");
      } else {
        this.handleAttachmentError(resp);
      }

      this.uploadingPhoto = false;
    },
    async deleteAttach(index) {
      const data = {
        index: index,
        id: this.card.id,
        list_id: this.list.id,
        board_id: this.board.id,
      };

      const deletedAttachment = await deleteReq(
        "/card/attachments/remove",
        data
      );

      if (deletedAttachment.success) {
        removeAttachment(index);
        this.showNotif("عکس مورد نظر با موفقیت از کارت حذف شد.", "success");
      } else {
        this.handleAttachmentError(resp);
      }
    },
    async deleteCard() {
      const deletedCard = await deleteReq("/card", {
        list_id: activeList.value.id,
        board_id: this.board.id,
        id: activeCard.value.id,
      });
      if (deletedCard.success) {
        this.showNotif(
          `کارت ${activeCard.value.name} با موفقیت حذف شد.`,
          "success"
        );
        removeCard(activeCard.value.id);
        this.$emit("changeComponent", "Lists");
      } else {
        this.handleAnyError(deletedCard);
      }
    },
    cardEditted(newCard) {
      editCard(newCard);
      this.showCardForm = false;
    },
    async toggleTodo(todo, index) {
      if (!this.isAllowedToChange) {
        this.handleAccessError();
        return;
      }

      const data = {
        id: this.card.id,
        index,
        board_id: this.board.id,
        list_id: this.list.id,
      };

      if (todo.checked) {
        const uncheckCard = await put("/card/todo/uncheck", data);

        if (uncheckCard.success) {
          toggleTodoCard(index);
        } else {
          this.handleAnyError(uncheckCard);
        }
      } else {
        const checkCard = await put("/card/todo/check", data);

        if (checkCard.success) {
          toggleTodoCard(index);
        }
      }
    },
    toggleEditTodo(index) {
      if (!this.isAllowedToChange) {
        this.handleAccessError();
        return;
      }
      if (this.card.todos[index].editing) {
        this.newTodoName = "";
        this.card.todos[index].editing = false;
      } else {
        this.newTodoName = this.card.todos[index].name;
        this.card.todos[index].editing = true;
        setTimeout(
          () => document.querySelector(`.todo-${index}`)?.focus(),
          100
        );
      }
    },
    async editTodo(index) {
      const data = {
        id: this.card.id,
        index,
        name: this.newTodoName,
        board_id: this.board.id,
        list_id: this.list.id,
      };

      const editedTodoName = await put("/card/todo/edit", data);
      this.card.todos[index].editing = false;
      this.newTodoName = "";

      if (editedTodoName.success === true) {
        editTodoName(index, data.name);
      } else {
        this.handleAnyError(editedTodoName);
      }
    },
    async removeTodo(index) {
      if (!this.isAllowedToChange) {
        this.handleAccessError();
        return;
      }

      const data = {
        id: this.card.id,
        index,
        board_id: this.board.id,
        list_id: this.list.id,
      };

      const removedTodo = await deleteReq("/card/todo/remove", data);

      if (removedTodo.success === true) {
        removeTodo(index);
      } else {
        this.handleAnyError(editedTodoName);
      }
    },
    toggleAddTodo() {
      if (this.addingTodo) {
        this.addingTodo = false;
        this.newTodo = "";
      } else {
        this.addingTodo = true;
        this.newTodo = "";
        setTimeout(() => document.querySelector(".addTodoInput").focus(), 100);
      }
    },
    async addTodo() {
      const data = {
        name: this.newTodo,
        id: this.card.id,
        board_id: this.board.id,
        list_id: this.list.id,
      };
      const newTodo = await post("/card/todo/add", data);

      if (newTodo.success) {
        addTodo(this.newTodo);
      } else {
        this.handleAnyError(newTodo);
      }
      this.addingTodo = false;
      this.newTodo = "";
    },
    handleAnyError(error) {
      this.showNotif(
        "خطای نامشخص اتفاق افتاد. لطفا بعدا دوباره تلاش کنید.",
        "error"
      );
    },
    handleAccessError() {
      console.log("has no access");
      this.showNotif(
        "شما اجازه دسترسی مجاز برای این کار را ندارید. باید عضو کارت یا صاحب کارت یا لیست باشید.",
        "warning"
      );
    },
    handleAttachmentError(error) {
      if (error.message === "Photo larger than 10MB.") {
        this.showNotif("حجم عکس باید کمتر از 10 مگابایت باشد.", "error");
      } else {
        this.showNotif(
          "خطای نامشخص اتفاق افتاد. لطفا بعدا دوباره تلاش کنید.",
          "error"
        );
      }
    },
    showNotif(text, kind) {
      this.emitter.emit("showNotification", {
        text,
        kind,
      });
    },
  },
})
export default class Cards extends Vue {}
</script>

<style lang="scss" scoped>
.attachments-area {
  &::-webkit-scrollbar {
    width: 0.45rem;
  }
  &::-webkit-scrollbar-track {
    background: rgba($color: #000000, $alpha: 0.2);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #1059bc;
  }
}

.max-h-56 {
  max-height: 14rem !important;
}
</style>
