<template>
  <div
    class="bg-overlay w-full h-full fixed inset-0 pt-16 bg-gray-800 bg-opacity-50"
  >
    <div
      class="relative w-full h-full bg-gray-100 flex-col items-center-justify-start rounded-t-lg overflow-x-hidden overflow-y-auto"
    >
      <div class="w-full bg-gray-200 h-12 flex-center relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          @click="toggleForm"
          class="absolute w-8 right-0 mr-4 top-0 mt-2 cursor-pointer fill-current p-1 text-gray-900 rounded-full hover:bg-gray-500"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <h4 class="font-semibold text-lg" v-if="this.mode === 'Create'">
          ایجاد کارت
        </h4>
        <h4 class="font-semibold text-lg" v-else>ویرایش کارت</h4>
      </div>
      <div class="w-full flex-col">
        <div
          class="flex flex-col items-start sm:flex-row justify-between sm:items-center bg-white w-full py-4 px-6 border-b-2 border-gray-300 border-opacity-75"
        >
          <div class="flex items-center mb-4 sm:mb-0">
            <label
              for="name"
              class="font-medium text-lg ml-3 whitespace-no-wrap"
              >نام کارت:</label
            >
            <div class="flex flex-col">
              <input
                class="text-gray-800 focus:outline-none border-b-2 border-gray-700 border-opacity-25 px-2 py-1"
                type="text"
                id="name"
                v-model="name"
                placeholder="کارت"
              />
              <span
                class="error text-red-700 text-sm border-r-4 border-red-700 pr-2 tracking-normal mt-3"
                v-if="nameErr"
                >{{ nameErr }}</span
              >
            </div>
          </div>

          <div class="flex justify-between items-center whitespace-no-wrap">
            <label for="color" class="font-medium text-lg ml-20">رنگ:</label>
            <ColorDropDown
              :colors="colors"
              @selectColor="selectColor"
              :selected="selectedColor"
            />
          </div>
        </div>
        <div
          class="flex justify-between items-center bg-white w-full h-20 py-4 px-6 border-b-4 border-gray-300 border-opacity-75"
        >
          <div class="w-1/3 flex justify-start items-center whitespace-no-wrap">
            <label for="color" class="font-medium text-lg ml-6">تگ ها:</label>
            <DropDown
              :tags="tags[board.icon]"
              @selectTag="selectTag"
              :selected="selectedTag"
            />
          </div>
          <div class="w-2/3 flex flex-wrap justify-end items-center">
            <div
              class="flex-center text-sm rounded-lg py-2 px-3 font-normal font-sans tracking-wider mb-1 mr-2 text-gray-100"
              v-for="(tag, index) in selectedTags"
              :class="'bg-' + tag.color"
              :key="tag.name"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                @click="removeTag(index)"
                class="w-6 ml-2 cursor-pointer fill-current p-1 text-gray-100 rounded-full hover:bg-gray-700"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
              {{ tag.name }}
            </div>
          </div>
        </div>

        <!-- Todos -->
        <div
          class="flex justify-between items-center bg-white w-full py-4 px-6 border-b-4 border-gray-300 border-opacity-75"
          v-if="mode === 'Create'"
        >
          <div class="flex justify-start items-center ml-2">
            <label
              for="todo"
              class="font-medium text-base ml-3 whitespace-no-wrap"
              >نام تسک:</label
            >
            <input
              type="text"
              name="todo"
              id="todo"
              class="w-24 md:w-48 text-gray-800 border-b-2 border-gray-700 border-opacity-25 px-2 py-1"
              v-model="newTodo"
              placeholder="اسم تسک"
              @keydown.enter="addTodo"
            />
            <button
              class="rounded-lg bg-primary-100 p-1 flex-center hover:bg-opacity-75 mr-2"
              @click="addTodo"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="fill-current w-6 text-white"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
            </button>
          </div>
          <div
            class="max-h-32 flex flex-wrap todos-area justify-end items-center overflow-x-hidden overflow-y-auto"
          >
            <span
              class="flex justify-around border-2 rounded-lg border-primary-100 py-2 px-3 ml-3 mb-2 whitespace-no-wrap"
              v-for="(todo, index) in todos"
              :key="todo.name"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                @click="removetodo(index)"
                class="w-6 ml-2 cursor-pointer fill-current p-1 text-gray-900 rounded-full hover:bg-gray-500"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
              {{ todo.name }}
            </span>
          </div>
        </div>

        <!-- Members -->

        <div
          class="flex flex-wrap members-area justify-between items-center bg-white w-full py-2 px-6"
          v-if="mode === 'Create'"
        >
          <div class="flex justify-start items-center">
            <div class="flex justify-center items-end bg-white w-full px-6">
              <label for="members" class="ml-4">اعضا:</label>
              <AddMembers @addMember="addMember" :members="members" />
            </div>
          </div>
          <div
            class="flex max-h-32 flex-wrap justify-end items-center overflow-x-hidden overflow-y-auto"
          >
            <span
              class="flex items-center justify-around border-2 rounded-lg border-primary-100 py-1 px-3 mr-3 mb-2"
              v-for="(member, index) in members"
              :key="member._id"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                @click="removeMember(index)"
                class="w-6 ml-2 cursor-pointer fill-current p-1 text-gray-900 rounded-full hover:bg-gray-500"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
              {{ member.username }}
              <div
                class="rounded-full mr-2 flex-center w-10 h-10 overflow-hidden bg-white border-2 border-gray-100 border-opacity-75"
              >
                <img
                  :src="
                    member.pic.length
                      ? member.pic
                      : '/profile/profile-' +
                        (member.sex ? 'man' : 'woman') +
                        '.png'
                  "
                  class="w-full h-full object-cover"
                  alt="avatar"
                />
              </div>
            </span>
          </div>
        </div>

        <!-- Create Button -->
        <div
          class="absolute bottom-0 flex pb-4 w-full justify-center items-center"
        >
          <button
            class="btn-primary-out w-48"
            @click="createEditCard"
            :disabled="loading"
          >
            <div v-if="loading" class="lds-dual-ring-samll"></div>
            <p class="font-semibold text-lg" v-else-if="this.mode === 'Create'">
              ایجاد کارت
            </p>
            <p class="font-semibold text-lg" v-else-if="this.mode === 'Edit'">
              ویرایش کارت
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import DropDown from "./DropDown.vue";
import ColorDropDown from "../Boards/DropDown.vue";
import AddMembers from "./AddMembers.vue";
import { post, get, put } from "@/utils/helpers";
import { activeBoard } from "@/store/board";
import { activeCard } from "@/store/card";
import { activeList } from "@/store/list";

@Options({
  props: {
    mode: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: false,
    },
  },
  components: {
    DropDown,
    AddMembers,
    ColorDropDown,
  },
  data() {
    return {
      name: "",
      newTodo: "",
      tags: {
        programming: [
          { name: "JavaScript", color: "primary-100" },
          { name: "Android", color: "orange-500" },
          { name: "Python", color: "purple-700" },
          { name: "PHP", color: "red-600" },
          { name: "موارد دیگر", color: "gray-500" },
        ],
        api: [
          { name: "Express", color: "primary-100" },
          { name: "Laravel", color: "orange-500" },
          { name: "Django", color: "purple-700" },
          { name: "Rails", color: "red-600" },
          { name: "موارد دیگر", color: "gray-500" },
        ],
        database: [
          { name: "MongoDB", color: "primary-100" },
          { name: "MySQL", color: "orange-500" },
          { name: "PostgreSQL", color: "purple-700" },
          { name: "GraphQL", color: "red-600" },
          { name: "Redis", color: "pink-500" },
          { name: "CouchDB", color: "teal-400" },
          { name: "موارد دیگر", color: "gray-500" },
        ],
        game: [
          { name: "Unreal Engine", color: "red-600" },
          { name: "Unity", color: "orange-500" },
          { name: "3DMax", color: "purple-700" },
          { name: "موارد دیگر", color: "gray-500" },
        ],
        idea: [
          { name: "استارت آپ", color: "primary-100" },
          { name: "اپلیکیشن", color: "red-600" },
          { name: "وب سایت", color: "orange-500" },
          { name: "موارد دیگر", color: "gray-500" },
        ],
        illustrator: [
          { name: "طراحی لوگو", color: "primary-100" },
          { name: "طراحی 3 بعدی", color: "red-600" },
          { name: "طراحی سایت", color: "orange-500" },
          { name: "موارد دیگر", color: "gray-500" },
        ],
        instruction: [
          { name: "طراحی ساختمان", color: "primary-100" },
          { name: "عمران", color: "red-600" },
          { name: "3DMax", color: "orange-500" },
          { name: "Cinema3D", color: "pink-500" },
          { name: "موارد دیگر", color: "gray-500" },
        ],
        movie: [
          { name: "اکشن", color: "red-600" },
          { name: "درام", color: "yellow-400" },
          { name: "کمدی", color: "green-500" },
          { name: "تاریخی", color: "orange-500" },
          { name: "فانتزی", color: "primary-100" },
          { name: "موارد دیگر", color: "gray-500" },
        ],
        photoshop: [
          { name: "ادیت عکس", color: "orange-500" },
          { name: "طراحی جلد", color: "yellow-400" },
          { name: "طراحی بنر", color: "primary-100" },
          { name: "موارد دیگر", color: "gray-500" },
        ],
      } as any,
      selectedTag: [] as Array<any>,
      todos: [] as Array<any>,
      attachments: [] as Array<string>,
      board: activeBoard.value,
      members: [] as any,
      allMembers: activeBoard.value.members,
      loading: false,
      colors: [
        "primary-100",
        "green-500",
        "orange-500",
        "red-600",
        "yellow-400",
        "gray-500",
        "teal-400",
        "purple-700",
        "pink-500",
      ],
      selectedColor: 0 as number,
      nameErr: "",
    };
  },
  async created() {
    if (this.mode === "Edit") {
      const colorIdx = this.colors.findIndex(
        (color: string) => color === activeCard.value.color
      );

      // const tags = activeCard.value.tags.map((tag) => {
      //   console.log(tag);

      //   return {
      //     name: tag.name,
      //     color: tag.color,
      //   };
      // });
      // console.log(tags);

      this.members = activeCard.value.members;
      this.selectedTag = activeCard.value.tags;
      this.name = activeCard.value.name;
      this.selectedColor = colorIdx;
    }
  },
  computed: {
    selectedTags() {
      const allTags: Array<Object> = this.selectedTag.map((tag: any) => {
        const tagIdx = this.tags[this.board.icon].findIndex(
          (AllTags: any) => AllTags.name === tag.name
        );
        return this.tags[this.board.icon][tagIdx];
      });
      console.log(allTags);
      return allTags;
    },
  },
  methods: {
    selectColor(index: number) {
      this.selectedColor = index;
    },
    toggleForm() {
      this.nameErr = "";
      this.$emit("closeForm");
    },
    selectTag(index: number) {
      this.selectedTag.push(this.tags[this.board.icon][index]);
    },
    addMember(member: any) {
      this.members.push(member);
      console.log("member added " + member.username);
    },
    removeMember(index: number) {
      this.members.splice(index, 1);
    },
    removeTag(index: number) {
      this.selectedTag.splice(index, 1);
    },
    removetodo(index: number) {
      this.todos.splice(index, 1);
    },
    addTodo() {
      if (this.newTodo.length > 3) {
        this.todos.push({ name: this.newTodo, checked: false });
        this.newTodo = "";
      }
    },
    async createEditCard() {
      this.loading = true;
      const members = this.members;
      this.nameErr = "";

      console.log("this.todos");
      console.log(this.todos);
      let card = {
        name: this.name,
        tags: this.selectedTags,
        attachments: this.attachments,
        todos: this.todos,
        color: this.colors[this.selectedColor],
        list_id: activeList.value.id,
        board_id: activeBoard.value.id,
        members: members.map((member: any) => member._id),
      } as any;
      console.log("card");
      console.log(card);

      let TheCard;
      try {
        if (this.mode === "Edit") {
          card.id = activeCard.value.id;
          delete card.members;
          delete card.todos;
          delete card.attachments;
          TheCard = await put("/card", card);
        } else TheCard = await post("/card", card);

        if (TheCard.success) {
          if (this.mode === "Edit") {
            this.$emit("cardEditted", card);
            this.showNotif(`کارت ${this.name} با موفقیت ویرایش شد.`, "success");
          } else {
            TheCard.card.list_id = activeList.value.id;
            TheCard.card.members = members;
            this.$emit("newCard", TheCard.card);
            this.showNotif(`کارت ${this.name} با موفقیت ایجاد شد.`, "success");
          }
        } else this.handleError(TheCard);
        this.loading = false;
        this.selectedTag = [];
        this.todos = [];
        this.attachments = [];
        this.members = [];
        this.name = "";
      } catch (err) {
        console.log(err);
        this.loading = false;
      }
    },
    handleError(error: any) {
      if (error.invalid) {
        if (error.invalid.includes("name")) {
          this.nameErr =
            "نام کارت باید حداقل 3 کاراکتر و شامل اعداد یا حروف باشد.";

          this.showNotif(this.nameErr, "warning");
        }
      } else {
        this.showNotif(
          "خطای نامشخص اتفاق افتاد. لطفا بعدا دوباره تلاش کنید.",
          "error"
        );
      }
    },
    showNotif(text: string, kind: string) {
      this.emitter.emit("showNotification", {
        text,
        kind,
      });
    },
  },
})
export default class CardForm extends Vue {}
</script>

<style lang="scss">
.members-area,
.todos-area {
  &::-webkit-scrollbar {
    width: 0.45rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #1059bc;
  }
}

.max-h-32 {
  max-height: 5rem;
}

@media (min-width: 640px) {
  .bg-overlay {
    padding-left: 100px !important;
    padding-right: 20px !important;
  }
}
@media (max-width: 640px) {
  .bg-overlay {
    padding-bottom: 56px !important;
  }
}
</style>
