<template>
  <div class="relative">
    <button
      @click="toggleOptions"
      class="block text-gray-800 text-base rounded-lg border-2 border-primary-100 border-opacity-75 py-1 px-2 overflow-hidden focus:outline-none focus:shadow-outline"
      @blur="blured"
    >
      انتخاب تگ ها
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        class="w-5 inline-block"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </button>
    <div
      class="absolute options-dropdown h-32 w-40 overflow-y-scroll overflow-x-hidden top-0 left-0 mt-12 py-2 border-2 border-opacity-50 border-gray-400 bg-white rounded-lg shadow-xl"
      v-if="showOptions"
    >
      <div
        @click="selectTag(index, tag.selected)"
        v-for="(tag, index) in getTags"
        :key="tag.name"
        class="w-full flex-center px-4 py-3 hover:bg-gray-200 cursor-pointer"
      >
        <span
          class="text-sm w-full font-sans flex-center rounded-lg py-2 px-3 font-normal mb-1 text-gray-100"
          :class="'bg-' + tag.color + (tag.selected ? ' bg-opacity-25' : '')"
          >{{ tag.name }}</span
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    tags: {
      type: Array,
      required: false,
    },
    selected: {
      type: Array,
      default: 0,
    },
    mode: {
      type: String,
      required: false,
      default: "",
    },
  },
  data() {
    return {
      showOptions: false,
    };
  },
  computed: {
    getTags(): any {
      // if (this.mode === "") {
      const tags = this.tags.map((tag: any) => {
        if (this.selected.includes(tag)) tag.selected = true;
        else tag.selected = false;
        return tag;
      });
      return tags;
      // } else {
      //   const tags = this.tags.map((tag: any) => {
      //     if (this.selected.value.includes(tag)) tag.selected = true;
      //     else tag.selected = false;
      //     return tag;
      //   });
      //   return tags;
      // }
    },
  },
  methods: {
    toggleOptions() {
      this.showOptions = !this.showOptions;
    },
    selectTag(index: number, selected: Boolean) {
      if (!selected) this.$emit("selectTag", index);
    },
    blured() {
      setTimeout(() => {
        this.showOptions = false;
      }, 100);
    },
  },
});
</script>

<style lang="scss">
.options-dropdown {
  direction: ltr !important;
  &::-webkit-scrollbar {
    width: 0.45rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #1059bc;
  }
}
</style>
