<template>
  <div class="w-full h-full mt-6">
    <div v-if="loading">
      <div class="lds-dual-ring mt-12 w-full"></div>
    </div>
    <div v-else-if="MyNotifications.length">
      <div
        v-for="notif in MyNotifications"
        :key="notif._id"
        class="w-full relative rounded-lg shadow-md bg-gray-100 py-6 px-6 flex justify-start items-center mb-4 hover:bg-white"
      >
        <p class="text-gray-800 text-lg" v-html="notif.description"></p>
        <span
          class="absolute top-0 left-0 ml-3 mt-3 text-xs text-gray-600 tracking-wider"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6 p-1 cursor-pointer rounded-full hover:bg-gray-800 hover:text-white transition-all duration-300 text-gray-800"
            @click="removeNotification(notif)"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </span>
        <span
          class="absolute bottom-0 left-0 ml-2 mb-1 text-xs text-gray-600 tracking-wider"
          >{{ notif.time_passed }}</span
        >
      </div>
    </div>

    <div v-else class="w-full flex-center">
      <h2 class="text-2xl font-bold mt-4">هیچ اعلانی برای شما وجود ندارد</h2>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { put, deleteReq } from "@/utils/helpers";
import {
  notifications,
  removeNotif,
  seenNotif,
  loading,
} from "../../store/notifications";
import { user } from "../../store/user";

@Options({
  data() {
    return {
      loading,
    };
  },
  computed: {
    MyNotifications() {
      return notifications.value.filter(
        (notif) => notif.user_id === user.value.id
      );
    },
  },
  created() {
    const unseenNotifications = this.MyNotifications.filter(
      (notif: any) => !notif.seen
    );

    if (unseenNotifications.length) {
      unseenNotifications.forEach(async (notif: any) => {
        const seenNotifs = await put("/notifications/seen", {
          id: notif.user_notification,
        });

        if (seenNotifs.success) {
          seenNotif(notif._id);
        }
      });
    }
  },
  methods: {
    async removeNotification(notif: any) {
      const removedNotif = await deleteReq("/notifications/remove", {
        id: notif.user_notification,
      });

      if (removedNotif.success) {
        removeNotif(notif._id);
      }
    },
  },
})
export default class MyNotifications extends Vue {}
</script>
