<template>
  <button
    class="fixed bg-primary-100 right-0 bottom-0 mr-4 mb-20 sm:mb-4 rounded-full p-2 shadow flex-center hover:shadow-lg focus:outline-none"
    @click="clicked"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      class="fill-current text-white w-10"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      />
    </svg>
  </button>
</template>

<script>
export default {
  methods: {
    clicked() {
      this.$emit("addList");
    },
  },
};
</script>

<style></style>
