<template>
  <div
    class="w-32 bg-white shadow-lg z-10 flex-col justify-between items-start text-gray-900 absolute rigth-0 top-0 mt-10 rounded-xl py-3"
  >
    <div
      @click="edit()"
      class="flex-center cursor-pointer w-full font-semibold text-base px-2 py-1 hover:bg-primary-100 hover:text-white transition-all duration-200"
    >
      ویرایش بورد
    </div>
    <div
      @click="deleteBoard()"
      v-if="isAllowed"
      class="flex-center cursor-pointer font-semibold text-base px-2 py-1 hover:bg-primary-100 hover:text-white transition-all duration-200"
    >
      حذف بورد
    </div>
    <div
      @click="manageUsers()"
      v-if="isAllowed"
      class="flex-center cursor-pointer font-semibold text-base px-2 py-1 hover:bg-primary-100 hover:text-white transition-all duration-200"
    >
      مدیریت اعضا
    </div>
  </div>
</template>

<script>
import { user } from "@/store/user";
import { activeBoard } from "@/store/board";
export default {
  props: {},
  computed: {
    isAllowed() {
      const userId = user.value.id;
      if (activeBoard.value.owner === userId || user.value.admin) return true;
      return false;
    },
  },
  data() {
    return {};
  },
  methods: {
    edit() {
      this.$emit("editBoard");
    },
    deleteBoard() {
      this.$emit("deleteBoard");
    },
    manageUsers() {
      this.$emit("manageUsers");
    },
  },
};
</script>

<style></style>
