<template>
  <div
    class="bg-overlay w-full h-full fixed inset-0 pt-16 bg-gray-800 bg-opacity-50 z-10"
  >
    <div
      class="relative overflow-hidden w-full bg-gray-100 flex-col items-center-justify-start rounded-lg overflow-x-hidden"
    >
      <div class="w-full bg-gray-200 h-12 flex-center relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          @click="toggleForm"
          class="absolute w-8 right-0 mr-4 top-0 mt-2 cursor-pointer fill-current p-1 text-gray-900 rounded-full hover:bg-gray-500"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <h4 class="font-semibold text-lg" v-if="this.mode === 'Create'">
          ایجاد لیست
        </h4>
        <h4 class="font-semibold text-lg" v-else>ویرایش لیست</h4>
      </div>
      <div class="w-full flex-col justify-between">
        <div
          class="flex mb-10 justify-start items-center bg-white w-full h-20 py-4 px-6 border-b-2 border-gray-300 border-opacity-75"
        >
          <label for="name" class="font-medium ml-3 text-lg whitespace-no-wrap"
            >نام لیست:</label
          >
          <input
            class="px-3 border-none bg-transparent text-lg text-gray-700 focus:outline-none"
            type="text"
            id="name"
            v-model="name"
            placeholder="لیست"
          />

          <span
            class="error text-red-700 text-sm border-r-4 border-red-700 pr-2 tracking-normal"
            v-if="nameErr"
            >{{ nameErr }}</span
          >
        </div>
        <div class="flex pb-8 px-4 w-full justify-center items-center">
          <button
            class="btn-primary-out w-full text-primary-100"
            @click="createEditList"
            :disabled="loading"
          >
            <div v-if="loading" class="lds-dual-ring-samll"></div>
            <p class="font-semibold text-lg" v-else-if="this.mode === 'Create'">
              ایجاد لیست
            </p>
            <p class="font-semibold text-lg" v-else-if="this.mode === 'Edit'">
              ویرایش لیست
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { post, put } from "@/utils/helpers";
import { activeBoard } from "@/store/board";
import { activeList } from "@/store/list";

@Options({
  props: {
    mode: {
      type: String,
      required: true,
    },
    oldList: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      name: "",
      loading: false,
      nameErr: "",
    };
  },
  async created() {
    if (this.mode === "Edit") {
      this.name = this.oldList.name;
    }
  },
  methods: {
    toggleForm() {
      this.nameErr = "";
      this.$emit("closeForm");
    },
    async createEditList() {
      this.nameErr = "";
      this.loading = true;

      let list = {
        name: this.name,
        board_id: activeBoard.value.id,
      } as any;

      let Thelist;

      if (this.mode === "Edit") {
        list.id = this.oldList.id;
        Thelist = await put("/list", list);
      } else Thelist = await post("/list", list);

      this.loading = false;

      if (Thelist.success) {
        if (this.mode === "Edit") {
          this.$emit("listEditted", list.id, list.name);
          this.showNotif(`لیست ${this.name} با موفقیت ویرایش شد.`, "success");
        } else {
          this.$emit("newList", Thelist);
          this.showNotif(`بورد ${this.name} با موفقیت ایجاد شد.`, "success");
        }
      } else this.handleError(Thelist);
      this.name = "";
    },
    handleError(error: any) {
      if (error.invalid) {
        if (error.invalid.includes("name")) {
          this.nameErr =
            "نام لیست باید حداقل 3 کاراکتر و شامل اعداد یا حروف باشد.";

          this.showNotif(this.nameErr, "warning");
        }
      } else {
        this.showNotif(
          "خطای نامشخص اتفاق افتاد. لطفا بعدا دوباره تلاش کنید.",
          "error"
        );
      }
    },
    showNotif(text: string, kind: string) {
      this.emitter.emit("showNotification", {
        text,
        kind,
      });
    },
  },
})
export default class BoardForm extends Vue {}
</script>

<style lang="scss">
@media (min-width: 640px) {
  .bg-overlay {
    padding-left: 100px !important;
    padding-right: 20px !important;
  }
}
@media (max-width: 640px) {
  .bg-overlay {
    padding-bottom: 56px !important;
  }
}
</style>
