<template>
  <div class="w-full h-full relative">
    <header
      class="w-full flex justify-between items-center h-32 px-4"
      :class="'bg-' + activeBoard.color"
    >
      <div class="flex justify-start items-center">
        <!-- three dots -->
        <div class="relative">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="fill-current text-white h-8 cursor-pointer ml-3 focus:outline-none"
            v-if="isOwner"
            @click="showOptions = !showOptions"
            @blur="blured"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
            />
          </svg>
          <DropDown
            v-if="showOptions"
            @editBoard="toggleBoardForm"
            @deleteBoard="confirmDeleteBoard = true"
            @manageUsers="manageUsers"
          />
        </div>

        <!-- Search -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          @click="toggleSearch"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#ffffff"
          class="w-8 cursor-pointer"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>

        <div class="relative">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-8 fill-current text-white mr-2 cursor-pointer"
            @click="toggleOnlineUsers()"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
            />
          </svg>
          <ShowOnlineUsers
            v-if="showOnlineUsers"
            @close="toggleOnlineUsers()"
          />
        </div>
      </div>

      <div class="flex justify-end items-center">
        <div class="flex items-center ml-3">
          <div class="flex-col justify-center items-start h-full ml-2">
            <span class="font-semibold block text-base text-gray-100">{{
              activeBoard.name
            }}</span>
            <span
              class="font-medium block text-sm text-gray-100 whitespace-no-wrap"
              >{{
                activeBoard.members.length === 1
                  ? ""
                  : `شما و ${activeBoard.members.length - 1} نفر دیگر`
              }}
            </span>
          </div>
          <img
            :src="'/boardIcons/' + activeBoard.icon + '_light.png'"
            alt="icon"
            class="w-8"
          />
        </div>

        <!-- Back Arrow -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="fill-current text-white w-8 h-full cursor-pointer"
          @click="goBack"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          />
        </svg>
      </div>
      <div
        v-if="searchEnabled"
        class="w-full absolute flex justify-center items-center mt-32"
      >
        <button
          class="h-12 border-none rounded-r-lg flex-center bg-gray-100 py-2 px-3 shadow-md focus:outline-none focus:bg-gray-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 "
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
        </button>
        <input
          type="text"
          class="h-12 w-64 rounded-l-lg border-none text-lg font-medium text-gray-700 py-2 px-3 search shadow-md"
          placeholder="جستجو"
          v-model="searched"
        />
      </div>
    </header>

    <main
      class="flex-col w-full h-full p-4 sm:p-12 overflow-y-auto"
      v-if="lists.length"
    >
      <div
        v-for="(list, index) in filteredLists"
        :key="list._id"
        class="cursor-default
          flex-shrink-0 g-white text-gray-800 flex-col mb-12 justify-center items-center rounded-lg shadow border-2 border-opacity-75 hover:shadow-lg"
        :class="'border-' + activeBoard.color"
      >
        <div
          class="w-full flex justify-between px-6 py-2 border-b-2 border-gray-500 border-opacity-25"
          style="width: 100%"
        >
          <span class="list-name text-2xl font-bold">{{ list.name }}</span>
          <div class="relative">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="fill-current h-8 cursor-pointer focus:outline-none"
              v-if="isAllowedToChangeList(list.owner)"
              @click="toggleListOptions(index)"
              @blur="bluredList"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              />
            </svg>
            <ListDropdown
              v-if="showListOptions === index"
              @editList="toggleEditListForm(list.name, list._id)"
              @deleteList="readyToDeleteList(index)"
            />
          </div>
        </div>
        <div v-if="LoadingCards" class="w-full flex-center lds-dual-ring"></div>
        <div
          class="w-full list-card flex-col justify-center items-center px-4 py-2 overflow-hidden overflow-y-auto mt-2 mb-2"
          v-else
        >
          <div
            class="card relative rounded-lg mb-5 w-full border-r-8 bg-gray-100 shadow-inner transition-all duration-300 sm:h-16 overflow-hidden flex flex-wrap justify-between items-center cursor-pointer"
            v-for="card in cards[list._id]"
            :key="card._id"
            :class="'border-' + card.color"
            @click="goToCard(card, index)"
          >
            <div
              class="w-full h-16 px-4 py-2 flex justify-between items-center"
            >
              <span class="font-semibold text-lg">{{ card.name }}</span>
              <div class="flex justify-between items-center">
                <div class="hidden sm:flex">
                  <span
                    v-for="tag in card.tags"
                    :key="tag.name"
                    :class="'bg-' + tag.color"
                    class="flex-center py-1 px-2 rounded-lg text-white mr-2 text-xs tracking-wide font-sans"
                    >{{ tag.name }}</span
                  >
                </div>
                <div class="flex mr-6 items-center">
                  <span
                    class="font-semibold tracking-widest text-base ml-1"
                    v-if="card.todos.length"
                  >
                    {{ countTodos(card.todos) }}
                  </span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="w-6 text-gray-800"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div
              class="card-members flex h-12 overflow-y-auto sm:hidden w-full justify-between items-center px-4 pb-3"
            >
              <span class="font-normal text-base">اعضا:</span>
              <div class="flex-center">
                <span
                  class="mr-3 flex items-center rounded tracking-wider bg-gray-600 hover:bg-gray-700 text-gray-100 py-1 px-2 text-sm"
                  v-for="member in card.members"
                  :key="member._id"
                >
                  {{ member.username }}
                  <div
                    class="rounded-full mr-2 flex-center w-6 h-6 overflow-hidden bg-white border-2 border-gray-100 border-opacity-75"
                  >
                    <img
                      :src="
                        member.pic
                          ? member.pic
                          : '/profile/profile-' +
                            (member.sex ? 'man' : 'woman') +
                            '.png'
                      "
                      class="w-full h-full object-cover"
                      alt="avatar"
                    />
                  </div>
                </span>
              </div>
            </div>
            <div
              class="card-tags flex h-10 w-full sm:hidden justify-between items-center px-4 pb-3"
            >
              <span class="font-normal text-base">تگ ها:</span>
              <div class="flex flex-wrap overflow-y-auto">
                <span
                  v-for="tag in card.tags"
                  :key="tag.name"
                  :class="'bg-' + tag.color"
                  class="py-1 px-2 rounded-lg text-white mr-2 text-xs tracking-wide flex-shrink-0 font-serif"
                  >{{ tag.name }}</span
                >
              </div>
            </div>
            <div
              class="w-full absolute bottom-0 left-0 overflow-hidden bg-gray-700"
              dir="ltr"
              style="height: 0.4rem"
              v-if="todoProgress(card.todos) !== 0"
            >
              <div
                class="h-full"
                :style="{
                  width: todoProgress(card.todos) + '%',
                }"
                :class="
                  'bg-' +
                    todoProgressColor(card.todos) +
                    (todoProgress(card.todos) === 100 ? '' : ' rounded-r-full')
                "
              ></div>
            </div>
          </div>
        </div>
        <div class="w-full p-2">
          <button
            class="w-full flex-center rounded-lg bg-opacity-75 text-gray-100 hover:bg-opacity-100 tracking-wide transition-all duration-300 px-6 py-4 font-light text-lg focus:outline-none"
            :class="'bg-' + activeBoard.color"
            @click.stop="toggleCardForm(list)"
          >
            افزودن کارت
          </button>
        </div>
      </div>
      <!-- </swiper> -->
    </main>
    <main class="flex-center flex-col w-full h-full pt-12" v-else>
      <div class="flex-center flex-col" v-if="!loading">
        <h2 class="font-extrabold text-3xl-text-gray-900">
          لیستی برای نمایش وجود ندارد
        </h2>
        <button class="btn-primary mt-4" @click="ToggleListForm">
          اولین لیست خود را بسازید
        </button>
      </div>

      <div class="w-full h-full text-center" v-else>
        <div class="lds-dual-ring mt-12 w-full"></div>
        <span
          class="font-semibold block text-lg mt-6 whitespace-no-wrap text-gray-900 w-full"
          >بارگذاری لیست ها</span
        >
      </div>
    </main>
    <ManageMembers
      @closeManageMembers="showManageMembers = false"
      v-if="allowManageMembers"
      :class="{ 'fade-in': showManageMembers, 'fade-out': !showManageMembers }"
    />
    <BoardForm
      v-if="allowBoardForm"
      :class="{ 'fade-in': showBoardForm, 'fade-out': !showBoardForm }"
      @closeForm="toggleBoardForm"
      @boardEditted="boardEditted"
      mode="Edit"
      :id="activeBoard.id"
    />
    <ListForm
      v-if="showListForm"
      @closeForm="ToggleListForm"
      @listEditted="listEditted"
      @newList="addList"
      :mode="ListFormMode"
      :oldList="edittingList"
    />
    <div
      class="fixed inset-0 bg-gray-800 bg-opacity-50 flex-col flex-center"
      v-if="confirmDeleteBoard"
    >
      <div
        class="rounded-lg relative bg-white flex-col justify-between items w-64 py-10 px-6"
      >
        <h6 class="font-semibold text-lg block">
          بورد {{ activeBoard.name }} حذف شود؟
        </h6>
        <div class="w-full mt-6 flex justify-around items-center">
          <button class="btn-primary" @click="confirmDeleteBoard = false">
            خیر
          </button>
          <button class="btn-primary-out" @click="deleteBoard">بله</button>
        </div>
      </div>
    </div>
    <div
      class="fixed inset-0 bg-gray-800 bg-opacity-50 flex-col flex-center"
      v-if="confirmDeleteList"
    >
      <div
        class="rounded-lg relative bg-white flex-col justify-between items w-64 py-10 px-6"
      >
        <h6 class="font-semibold text-lg block">
          لیست {{ activeList.name }} حذف شود؟
        </h6>
        <div class="w-full mt-6 flex justify-around items-center">
          <button class="btn-primary" @click="cancelDelete">
            خیر
          </button>
          <button class="btn-primary-out" @click="deleteList">بله</button>
        </div>
      </div>
    </div>
    <AddListButton @addList="ToggleListForm()" />
    <CardForm
      v-if="allowCardForm"
      mode="Create"
      @closeForm="toggleCardForm"
      @newCard="newCardAdded"
      :class="{ 'fade-in': showCardForm, 'fade-out': !showCardForm }"
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { get, deleteReq } from "@/utils/helpers";
import ListForm from "./ListForm.vue";
import DropDown from "./DropDown.vue";
import BoardForm from "../Boards/BoardForm.vue";
import ManageMembers from "./ManageBoardUsers.vue";
import AddListButton from "./AddList.vue";
import CardForm from "../Cards/CardForm.vue";
import ListDropdown from "./ListDropdown.vue";
import ShowOnlineUsers from "./ShowOnlineUsers.vue";
import {
  allLists,
  buildAllLists,
  buildActiveList,
  activeList,
  emptyActiveList,
  removeList,
  addList,
  editListName,
} from "@/store/list";
import {
  activeBoard,
  removeBoard,
  emptyActiveBoard,
  editBoard,
} from "@/store/board";
import {
  allCards,
  buildAllCards,
  buildActiveCard,
  addCard,
  emptyActiveCard,
} from "@/store/card";
import { user } from "@/store/user";

@Options({
  components: {
    ListForm,
    DropDown,
    ManageMembers,
    BoardForm,
    AddListButton,
    ListDropdown,
    CardForm,
    ShowOnlineUsers,
  },
  data() {
    return {
      loading: true,
      ListFormMode: "Create",
      edittingList: {},
      allowBoardForm: false,
      allowCardForm: false,
      allowManageMembers: false,
      showBoardForm: false,
      showListForm: false,
      activeBoard: activeBoard.value,
      activeList: activeList.value,
      searchEnabled: false,
      searched: "",
      showOptions: false,
      showListOptions: -1,
      confirmDeleteList: false,
      confirmDeleteBoard: false,
      showManageMembers: false,
      showCardForm: false,
      LoadingCards: false,
      showOnlineUsers: false,
    };
  },
  async created() {
    this.loading = true;

    // Get and build lists
    const lists = await get(`/list/${activeBoard.value.id}`);

    if (lists.success) {
      buildAllLists(lists.lists);
    }

    this.loading = false;
    this.LoadingCards = true;

    // Get and build Cards
    const cards = await get(`/card/${activeBoard.value.id}`);

    if (cards.success) {
      buildAllCards(cards.cards);
    }

    this.LoadingCards = false;

    this.emitter.on("boardRemoved", (data: any) => {
      if (activeBoard.value.id === data.board_id) {
        this.goBack();
      }
    });
  },
  computed: {
    isOwner() {
      return user.value.admin || user.value.id === activeBoard.value.owner;
    },
    lists() {
      return allLists.value;
    },
    filteredLists() {
      const lists = this.lists.filter((list: any) =>
        list.name.search(this.searched) !== -1 ? true : false
      );
      return lists;
    },
    cards(id: string) {
      const cards: any = {};
      allCards.value.forEach((card: any) => {
        if (cards[card.list_id]) cards[card.list_id].push(card);
        else {
          cards[card.list_id] = [];
          cards[card.list_id].push(card);
        }
      });

      return cards;
    },
  },
  methods: {
    toggleOnlineUsers() {
      this.showOnlineUsers = !this.showOnlineUsers;
    },
    countTodos(todos: any) {
      const checked = todos.filter((todo: any) => todo.checked);
      return `${checked.length}/${todos.length}`;
    },
    ToggleListForm() {
      this.ListFormMode = "Create";
      this.showListOptions = -1;
      if (this.showListForm) {
        this.showListForm = false;
      } else {
        this.showListForm = true;
      }
    },
    addList(list: any) {
      addList(list.list);
      this.showListForm = false;
    },
    goToCard(card: any, listIdx: number) {
      buildActiveList(this.filteredLists[listIdx]);
      buildActiveCard(card);
      this.$emit("changeComponent", "Card");
    },
    goBack() {
      emptyActiveBoard();
      emptyActiveList();
      this.allowForm = false;
      this.$emit("changeComponent", "Boards");
    },
    toggleSearch() {
      if (this.searchEnabled) {
        this.searched = "";
        this.searchEnabled = false;
      } else this.searchEnabled = true;
    },
    boardEditted(board: any) {
      editBoard(board);
      this.showBoardForm = false;
    },
    toggleBoardForm() {
      if (!this.allowBoardForm) {
        this.showOptions = false;
        this.allowBoardForm = true;
      }

      this.showBoardForm = !this.showBoardForm;
    },
    async deleteBoard() {
      const deletedBoard = await deleteReq("/board", {
        id: this.activeBoard.id,
        name: this.activeBoard.name,
      });

      if (deletedBoard.success) {
        removeBoard(this.activeBoard.id);
        this.$emit("changeComponent", "Boards");
        const board = activeBoard.value.name;
        this.showNotif(`بورد ${board} حذف شد.`, "success");
        emptyActiveBoard();
      } else {
        this.showNotif("حذف بورد به خطا خورد.", "error");
      }

      this.confirmDelete = false;
    },
    async deleteList() {
      const deletedList = await deleteReq("/list", {
        id: activeList.value.id,
        board_id: activeBoard.value.id,
      });

      if (deletedList.success) {
        removeList(activeList.value.id);
        const list = activeList.value.name;
        this.showNotif(`لیست ${list} حذف شد.`, "success");
        emptyActiveList();
      } else {
        this.showNotif("حذف بورد به خطا خورد.", "error");
      }

      this.confirmDeleteList = false;
    },
    listEditted(id: string, name: string) {
      editListName(id, name);
      this.ToggleListForm();
    },
    readyToDeleteList(index: number) {
      buildActiveList(this.filteredLists[index]);
      this.toggleListOptions();
      this.confirmDeleteList = true;
    },
    cancelDelete() {
      emptyActiveList();
      this.confirmDeleteList = false;
    },
    manageUsers() {
      if (!this.allowManageMembers) this.allowManageMembers = true;

      this.showManageMembers = true;
    },
    blured() {
      setTimeout(() => {
        this.showOptions = false;
      }, 100);
    },
    bluredList() {
      setTimeout(() => {
        this.showListOptions = -1;
      }, 100);
    },
    toggleEditListForm(name: string = "", id: string = "") {
      this.showListOptions = -1;
      this.ListFormMode = "Edit";
      this.edittingList = {
        name,
        id,
      };
      if (this.showListForm) {
        this.showListForm = false;
      } else {
        this.showListForm = true;
      }
    },
    toggleListOptions(index: number = 0) {
      if (this.showListOptions === -1) this.showListOptions = index;
      else this.showListOptions = -1;
    },
    toggleCardForm(list: any) {
      if (!this.allowCardForm) this.allowCardForm = true;

      if (this.showCardForm) {
        emptyActiveList();
        this.showCardForm = false;
      } else {
        buildActiveList(list);
        this.showCardForm = true;
      }
    },
    newCardAdded(card: any) {
      addCard(card);
      console.log(allCards.value);
      this.showCardForm = false;
    },
    isAllowedToChangeList(owner: string) {
      if (this.isOwner || user.value.id === owner) return true;
      return false;
    },
    todoProgress(todos: any) {
      const checked = todos.filter((todo: any) => todo.checked);
      return Math.round((checked.length / todos.length) * 100);
    },
    todoProgressColor(todos: any) {
      const percentage = this.todoProgress(todos);

      if (percentage === 0) return;
      if (percentage <= 30) return "yellow-500";
      if (percentage <= 60) return "orange-600";
      if (percentage < 100) return "primary-100";
      if (percentage === 100) return "green-600";
    },
    showNotif(text: string, kind: string) {
      this.emitter.emit("showNotification", {
        text,
        kind,
      });
    },
  },
})
export default class Lists extends Vue {}
</script>

<style lang="scss" scoped>
.list-card {
  min-height: 20vh;
  max-height: 60vh;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #1059bc;
}

@media (min-width: 640px) {
  .card {
    &:hover {
      height: 7rem !important;

      .card-members {
        display: flex !important;
      }
    }
  }
}
</style>
