<template>
  <div
    class="absolute w-32 bg-white shadow z-10 flex-col justify-between items-start text-gray-900 left-0 ml-3 top-0 mt-8 border-gray-400 border-opacity-25 rounded-xl py-3"
    style="border: 1px;"
  >
    <div
      @click="edit()"
      class="flex-center cursor-pointer w-full font-semibold text-base px-2 py-1 hover:bg-primary-100 hover:text-white transition-all duration-200"
    >
      ویرایش لیست
    </div>
    <div
      @click="deleteList()"
      v-if="isAllowed"
      class="flex-center cursor-pointer font-semibold text-base px-2 py-1 hover:bg-primary-100 hover:text-white transition-all duration-200"
    >
      حذف لیست
    </div>
  </div>
</template>

<script>
import { user } from "@/store/user";
import { activeList } from "@/store/list";
import { activeBoard } from "@/store/board";
export default {
  props: {},
  computed: {
    isAllowed() {
      const userId = user.value.id;
      if (
        activeList.value.owner === userId ||
        activeBoard.value.owner === userId ||
        user.value.admin
      )
        return true;
      return false;
    },
  },
  data() {
    return {};
  },
  methods: {
    edit() {
      this.$emit("editList");
    },
    deleteList() {
      this.$emit("deleteList");
    },
  },
};
</script>

<style></style>
