<template>
  <div
    class="bg-overlay w-full z-20 h-full fixed inset-0 pt-16 bg-gray-800 bg-opacity-50"
  >
    <div
      class="relative w-full h-full bg-gray-100 flex-col items-center-justify-start rounded-t-lg overflow-x-hidden"
    >
      <div class="w-full bg-gray-200 h-12 flex-center relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          @click="toggleForm"
          class="absolute w-8 right-0 mr-4 top-0 mt-2 cursor-pointer fill-current p-1 text-gray-900 rounded-full hover:bg-gray-500"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <h4 class="font-semibold text-lg">
          مدیریت اعضا
        </h4>
      </div>
      <div class="w-full h-full flex-col">
        <div
          class="flex justify-center items-end bg-white w-full h-20 py-4 px-6"
        >
          <label for="members">اعضا:</label>
          <AddMembers class="mr-4" @addMember="addMember" :members="members" />
        </div>
        <div
          class="flex flex-wrap max-h-full members-area overflow-x-hidden overflow-y-scroll justify-start items-start bg-white w-full py-4 px-6"
        >
          <div
            class="flex justify-start items-center border-2 rounded-lg border-primary-100 text-primary-100 py-2 px-3 ml-3 mb-2"
            v-for="(member, index) in members"
            :key="member._id"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              @click="removeMember(index)"
              class="w-6 ml-3 cursor-pointer fill-current p-1 text-gray-900 rounded-full hover:bg-gray-500"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
            {{ member.username }}
            <div
              class="rounded-full flex-center w-10 h-10 mr-2 overflow-hidden bg-white border-2 border-gray-100 border-opacity-75"
            >
              <img
                :src="
                  member.pic.length
                    ? member.pic
                    : '/profile/profile-' +
                      (member.sex ? 'man' : 'woman') +
                      '.png'
                "
                class="w-full h-full object-cover"
                alt="avatar"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import AddMembers from "../AddMembers.vue";
import { post, get, deleteReq } from "@/utils/helpers";
import {
  activeBoard,
  addMemberToBoard,
  removeMemberFromBoard,
} from "@/store/board";
import { user } from "@/store/user";

@Options({
  components: {
    AddMembers,
  },
  data() {
    return {
      members: [] as any,
      loading: false,
    };
  },
  async created() {
    const members = activeBoard.value.members.filter(
      (member: any) => member._id !== user.value.id
    );
    this.members = members;
  },
  methods: {
    toggleForm() {
      this.$emit("closeManageMembers");
    },
    async addMember(member: any) {
      const addMember = await post("/board/add", {
        id: activeBoard.value.id,
        user_id: member._id,
      });

      if (addMember.success) {
        addMemberToBoard(member);
        this.members.push(member);
        this.showNotif(`${member.username} به اصضای بورد اضافه شد.`, "success");
      } else this.handleError();
    },
    async removeMember(index: number) {
      const removeMember = await deleteReq("/board/remove", {
        id: activeBoard.value.id,
        user_id: this.members[index]._id,
      });

      if (removeMember.success) {
        removeMemberFromBoard(this.members[index]);
        this.showNotif(
          `${this.members[index].username} از اعضای بورد حذف شد.`,
          "success"
        );
        this.members.splice(index, 1);
      } else this.handleError();
    },
    handleError() {
      this.showNotif(
        "خطای نامشخص اتفاق افتاد. لطفا بعدا دوباره تلاش کنید.",
        "error"
      );
    },
    showNotif(text: string, kind: string) {
      this.emitter.emit("showNotification", {
        text,
        kind,
      });
    },
  },
})
export default class ManageBoardUsers extends Vue {}
</script>

<style lang="scss">
.members-area {
  &::-webkit-scrollbar {
    width: 0.45rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #1059bc;
  }
}

@media (min-width: 640px) {
  .bg-overlay {
    padding-left: 100px !important;
    padding-right: 20px !important;
  }
}
</style>
