<template>
  <div
    class="absolute bg-white rounded-lg w-64 top-0 right-0 mt-8 mr-4 overflow-hidden"
  >
    <div
      class="w-full flex justify-between items-center py-2 px-4 hover:bg-gray-200 transition-all duration-300"
      v-for="member in allMembers"
      :key="member.name"
    >
      <p class="text-lg font-bold text-gray-800">{{ member.username }}</p>

      <img
        class="w-10 h-10 rounded-full"
        :src="
          member.pic.length
            ? member.pic
            : '/profile/profile-' + (member.sex ? 'man' : 'woman') + '.png'
        "
        :class="
          member.online ? 'border-2 border-green-500' : 'border-2 border-white'
        "
        :alt="member.username"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { activeBoard } from "@/store/board";
import { onlineUsers, isUserOnline } from "@/WebSocket/main";

export default defineComponent({
  data() {
    return {};
  },
  computed: {
    allMembers() {
      console.log("in allMembers computed");
      const onlineMembers = activeBoard.value.members.map((member) => {
        console.log(member);
        const isOnline = isUserOnline(member._id);

        if (isOnline) member.online = true;
        else member.online = false;

        return member;
      });
      return onlineMembers;
    },
  },
});
</script>
